<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
    <section>
        <form action="/form" method="post">
            <input type="text" name="user-text"><br>
            <input type="number" name="user-number"><br>
            <button type="reset">Очислити</button>
            <button type="submit">Надіслати</button>
        </form>
        <h2>Відправка даних без перезавантаження сторінки</h2>
        <form action="/form" method="post">
            <input type="text" name="user-text"><br>
            <input type="number" name="user-number"><br>
            <button type="reset">Очислити</button>
            <button id="intercept-submit" type="submit">Надіслати</button>
        </form>
        <div id="js-form-result"></div>
    </section>
    <hr>
    <section>
        <h2>Відправка даних на сервер</h2>
        <textarea name="text-data" id="text-data"></textarea><br>
        <button id="save-data-btn">Відправити на сервер</button>
        <div id="save-data-result"></div>
    </section>

    <section>
        <button id="get-data-btn">отримати дані</button>
        <div id="get-data-result"></div>
    </section>


    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>
</html>